<div class="container">
  <div class="starter-template" style="padding">
    <h1>Zdjęcia</h1>

    <div class="text-right">
      <a href="/images/new" class="btn btn-info">Dodaj zdjęcie</a>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Zdjęcie</th>
          <th>Płeć</th>
          <th>Szuka</th>
          <th>Przedział wiekowy</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% images.forEach(function(item, index) { %>
          <tr>
            <th scope="row"><%= item.id %></th>
            <td>
              <img src="/images/<%= item.id %>/attachment" alt="photo" width="100" />
            </td>
            <td><%= item.gender %></td>
            <td><%= item.looking_for %></td>
            <td><%= item.age %></td>
            <td>
              <a href="/images/<%= item.id %>/edit">edycja</a>
              <a href="/images/<%= item.id %>/delete">usuń</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
